@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
	--cor-primaria:hsl(184, 84%, 40%);
	--cor-secundaria: #f9f9f9;
	--cor-hover: #10afbab3;
	--font-primaria: 'Roboto', sem serifa;
}

body {
    font-family: var(--font-primaria);
    height: 100vh;
}

.cabecalho {
    color: #ffffff;
    font-size: 12px;
    text-align: right;
    background-color: var(--cor-primaria);
    padding: 10px;
}

.main {
	padding: 5rem 25rem;
}

.main__titulo {
    font-size: 25px;
    font-weight: 500;
    padding: 15px;
    border: 1px solid #e5e5e5;
    border-radius: 5px 5px 0 0;
    background-color: var(--cor-secundaria);
}

.main__form {
   padding: 10px;
   border: 1px solid #e5e5e5;
   border-radius: 0 0 5px 5px;
}

.main__form__texto {
    padding: 10px;
}

.main__form__texto__link {
    color: #188FFF;
    cursor: pointer;
    text-decoration: none;
}

.main__form__info {
    display: grid;
    grid-template-columns: 250px 250px;
    gap: 20px 40px;
    padding: 20px 10px; 
}

.input__box {
    display: flex;
    flex-wrap: wrap;
}

.input__box:nth-child(n + 1) {
    flex-direction: column;
}

.main__form__label {
    font-size: 15px;
    padding-bottom: 5px;
}

.main__form__input {
    padding: 7px;
    background-color: var(--cor-secundaria);
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    outline: none;
}

.main__form__input:hover {
    background-color: #ffffff;
}

.main__form__input:focus {
    border-color: var(--cor-primaria);
}

.input__btn {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.main__form__btn {
    padding: 7px;
    cursor: pointer;
    background-color: var(--cor-primaria);
    color: #ffffff;
    border: 1px solid #0e99a3;
    border-radius: 3px;
}

.main__form__btn:hover {
    background-color: var(--cor-hover);
}

.footer {
    color: #242424;
    background-color: var(--cor-secundaria);
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    font-size: 13px;
    text-align: center;
    padding: 15px;
    position: fixed;
    left: 0; right: 0; bottom: 0;
}

@media (max-width: 1500px)
{
  .main {
    padding: 5rem 20rem;
  }
}
@media (max-width: 1300px)
{
  .main {
    padding: 5rem 12rem;
  }
}
@media (max-width: 1070px)
{
  .main {
    padding: 5rem 7rem;
  }
}
@media (max-width: 900px)
{
  .main {
    padding: 5rem 5rem;
  }
}
@media (max-width: 750px)
{
  .main__form__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 10px;
  }
}
